* {
    margin: 0;
    padding: 0;
}

main {
    background-image: url(../img/bg_texture.png);
}

header {
    background-color: #0067dc;
    position: fixed;
    vertical-align: top;
    height: 70px;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}

.area-logo {
    margin-left: 10%;
}

.area-logo img {
    height: 80px;
    /*float: left;*/
}

.menu {
    margin-right: 10%;
    /*float: right;*/
    justify-content: flex-end;
}

.menu nav {
    margin-top: 3%;
}

/* li */
/* ul li */
/* .menu nav ul li { */
/* .menu nav li { */
.item {
    display: inline-block;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px;
}

.menu nav li:hover {
    border-bottom: 4px solid red;
    color: red;
}

.banner {
    height: 600px;
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 70px;
    background-size: 600px;
    margin: 0 auto;
    width: 960px;
}

section {
    background-color: white;
    width: 960px;
    margin: 0 auto;
}

.titulo {
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    margin-bottom: 10px;
}

.history .texto {
    padding:  25px;
    text-align: justify;
}

.history .texto img {
    float: right;
    padding: 20px;
    width: 150px;
}

.games {
    background-image: url(../img/background.jpeg);
    background-attachment: fixed;
    background-size: 100%;
    height: 850px;
    padding: 20px;
}

.games .titulo {
    color: #0067dc;
    padding: 30px;
}

.games-texto {
    position: relative;
}

.games .texto1,
.games .texto2,
.games .texto3,
.games .texto4 {
    text-align: center;
    width: 50%;
    position: absolute;
}

.games .texto1 {
    top: -20px;
    right: 0;
}

.games .texto2 {
    top: 130px;
    left: 0;
}

.games .texto3 {
    top: 280px;
    right: 0;
}

.games .texto4 {
    top: 430px;
    left: 0;
}


.texto1 img,
.texto2 img,
.texto4 img {
    height: 220px;
}

.texto3 img {
    height: 220px;
}

footer {
    height: 380px;
    background-image: url(../img/footer.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}